Source: mma
Section: sound
Priority: optional
Maintainer: Raphael Goulais <rafou@debian.org>
Build-Depends: debhelper (>= 4.1.67)
Build-Depends-Indep: python-dev, python-support (>= 0.4)
Standards-Version: 3.7.2

Package: mma
Architecture: all
Depends: ${python:Depends}
Description: Musical Midi Accompaniment generator
 MMA creates midi tracks for a soloist to perform over from a user
 supplied file containing chords and MMA directives.
 .
 Homepage: http://mypage.uniserve.com/~bvdp/mma/

