Source: mma
Section: sound
Priority: optional
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Joel Roth <joelz@pobox.com>
Build-Depends: debhelper (>=7.0.50~)
Build-Depends-Indep: python-support
Standards-Version: 3.7.3
Homepage: http://www.mellowood.ca/mma/
Vcs-Git: git://git.debian.org/pkg-multimedia/mma.git
Vcs-Browser: http://git.debian.org/?p=pkg-multimedia/mma.git

Package: mma
Architecture: all
Depends: ${python:Depends},
 ${misc:Depends}
Description: Musical Midi Accompaniment generator
 MMA creates midi tracks for a soloist to perform over from a user
 supplied file containing chords and MMA directives.
