Source: mma
Section: sound
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper (>=7.0.50~)
Build-Depends-Indep: python-dev, python-support (>= 0.4)
Standards-Version: 3.7.3
Homepage: http://mypage.uniserve.com/~bvdp/mma/

Package: mma
Architecture: all
Depends: ${python:Depends}
Description: Musical Midi Accompaniment generator
 MMA creates midi tracks for a soloist to perform over from a user
 supplied file containing chords and MMA directives.
