#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_install:
	dh_install
	mkdir -p debian/mma/usr/bin
	cp mma.py               debian/mma/usr/bin/mma
	cp util/mma-mnx.py      debian/mma/usr/bin/mma-mnx
	cp util/mma-rm2std.py   debian/mma/usr/bin/mma-rm2std
	cp util/mma-splitrec.py debian/mma/usr/bin/mma-splitrec
	cp util/mup2mma.py      debian/mma/usr/bin/mup2mma
	cp util/pg2mma.py       debian/mma/usr/bin/pg2mma
	cp util/synthsplit.py   debian/mma/usr/bin/synthsplit

override_dh_installchangelogs:
	dh_installchangelogs text/CHANGES-1.7

%:
	dh $@
